@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fffaf4;
  --foreground: #1a171a;

  --main-image-background: #ffbbeb;

  --accent: #1c141c;
  --title: #fffcfa;
  --brand: var(--blue);

  --muted: #1e1a18b3;
  --border: #fffcfa2f;
  --input: rgba(254, 252, 249, 0.35);
  --input-border: rgba(255, 255, 255, 0.4);
  --input-autofill: #fff3ed;
  --overlay: #fff9f3;
  --icon: #1e1a18;
  --dice: #fff3ea;

  --positive: hsl(164, 86%, 34%);
  --danger: hsl(348, 100%, 60%);

  --ring: var(--accent);

  --btn-foreground: white;
  --btn-background: var(--accent);
  --btn-background-hover: hsl(164, 86%, 30%);
  --btn-secondary-foreground: #262626; /* neutral-800 */
  --btn-secondary-background: #fff9f1c0; /* neutral-50 */
  --btn-secondary-background-hover: #fff8f1;
  --btn-accent-foreground: #fff9f3;
  --btn-accent-background: #170114;
  --btn-accent-background-hover: #3b0026;

  --btn-danger-background: hsl(352, 70%, 52%);
  --btn-danger-background-hover: hsl(352, 70%, 42%);

  --card: hsla(334, 100%, 97%, 0.18);
  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --gform-background: white;
  --gform-text: #1f1f1f;
  --gform-description: #1f1f1f;
  --gform-label: #2d2d2d;
  --gform-border: #1f1f1f;
  --gform-border-active: #186ef9;
  --gform-link: #0b57d0;
  --gform-link-background: #dfe1e5;
  --gform-button-background: #0b57d0;
  --gform-button-text: white;
  --gform-progressbar: #1565c0;
  --gform-progressbar-background: #c8e6ff;
  --gform-error: #f04949;
  --gform-autofill-text: #1f1f1f;
  --gform-autofill-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e0e;
    --foreground: #fffbf6;

    --main-image-background: hsl(293, 100%, 13%);
    /* --main-image-background: #46003f; */

    --accent: #ffe5c7;
    --title: var(--accent);
    --brand: var(--blue);

    --muted: #fffaf68d;
    --border: #fff5fd23;
    --input: rgba(255, 255, 255, 0.15);
    --input-border: #262626; /* neutral-800 */
    --input-autofill: #4e2229;
    --overlay: #100f0f;
    --icon: var(--accent);
    --dice: #fff3ea;

    --positive: hsl(164, 86%, 33%);
    --danger: hsl(346, 88%, 54%);

    --btn-foreground: white;
    --btn-background: var(--accent);
    --btn-background-hover: #ffc889;
    --btn-secondary-foreground: #f5f5f5; /* neutral-100 */
    --btn-secondary-background: #262626; /* neutral-800 */
    --btn-secondary-background-hover: #323232; /* ~neutral-700 */
    --btn-accent-foreground: #1c1918;
    --btn-accent-background: var(--accent);
    --btn-accent-background-hover: #ffd2a2;

    --btn-danger-background: hsl(350, 71%, 44%);
    --btn-danger-background-hover: hsl(350, 71%, 49%);

    --card: #35002821;

    --gform-background: #0e0e0e;
    --gform-text: #e3e3e3;
    --gform-description: #c4c7c5;
    --gform-label: #8e918f;
    --gform-border: #8e918f;
    --gform-border-active: #a8c7fa;
    --gform-link: #a8c7fa;
    --gform-link-background: #2c2d2f;
    --gform-button-background: #a8c7fa;
    --gform-button-text: #062e6f;
    --gform-progressbar: #a8c7fa;
    --gform-progressbar-background: #2a364c;
    --gform-error: #f2b8b5;
    --gform-autofill-text: #ededed;
    --gform-autofill-background: #18191a;
  }
}

@theme inline {
  --font-inter-sans: var(--font-inter-sans);
  --font-google-sans: var(--font-google-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* --color-main-image-foreground: var(--main-image-foreground); */
  --color-main-image-background: var(--main-image-background);

  --color-brand: var(--brand);
  --color-muted: var(--muted);
  --color-title: var(--title);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-input-border: var(--input-border);
  --color-overlay: var(--overlay);
  --color-icon: var(--icon);
  --color-dice: var(--dice);

  --color-positive: var(--positive);
  --color-danger: var(--danger);

  --color-btn-foreground: var(--btn-foreground);
  --color-btn-background: var(--btn-background);
  --color-btn-background-hover: var(--btn-background-hover);
  --color-btn-secondary-foreground: var(--btn-secondary-foreground);
  --color-btn-secondary-background: var(--btn-secondary-background);
  --color-btn-secondary-background-hover: var(--btn-secondary-background-hover);
  --color-btn-accent-foreground: var(--btn-accent-foreground);
  --color-btn-accent-background: var(--btn-accent-background);
  --color-btn-accent-background-hover: var(--btn-accent-background-hover);

  --color-btn-danger-background: var(--btn-danger-background);
  --color-btn-danger-background-hover: var(--btn-danger-background-hover);

  --color-card: var(--card);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Shadcn */
  --color-ring: var(--ring);

  /* Google Form */
  --color-gform-background: var(--gform-background);
  --color-gform-text: var(--gform-text);
  --color-gform-description: var(--gform-description);
  --color-gform-label: var(--gform-label);
  --color-gform-border: var(--gform-border);
  --color-gform-border-active: var(--gform-border-active);
  --color-gform-link: var(--gform-link);
  --color-gform-link-background: var(--gform-link-background);
  --color-gform-button-background: var(--gform-button-background);
  --color-gform-button-text: var(--gform-button-text);
  --color-gform-progressbar: var(--gform-progressbar);
  --color-gform-progressbar-background: var(--gform-progressbar-background);
  --color-gform-error: var(--gform-error);
  --color-gform-autofill-text: var(--gform-autofill-text);
  --color-gform-autofill-background: var(--gform-autofill-background);
}

@layer base {
  * {
    @apply border-border outline-ring;
  }

  html,
  body {
    @apply h-dvh min-h-dvh;
  }

  body {
    @apply font-inter-sans bg-background text-foreground;
  }
}

@layer utilities {
  strong {
    @apply text-accent;
  }

  .title {
    @apply font-bold text-title leading-none;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .no-select {
    @apply cursor-default select-none;
  }

  /* Hide arrows in number input (Chrome, Safari, Edge) */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Reset appearance for Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* Customize autofull area color */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--input-autofill) inset !important;
    -webkit-text-fill-color: var(--accent-text) !important;
  }

  @media (prefers-color-scheme: dark) {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px var(--input-autofill) inset !important;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .layout {
    @apply h-full m-auto;
  }

  .layout,
  main {
    @apply flex flex-col grow-1;
  }

  .main {
    @apply relative h-dvh flex-col items-center justify-center;
  }

  .layout.align-center {
    @apply flex-col items-center justify-center box-border;
  }

  .text-system {
    @apply text-muted/55 select-none;
  }

  .auth-form {
    @apply relative w-72 mb-2 flex flex-col gap-6 transition-opacity;
  }

  .auth-form.inactive {
    @apply opacity-20;
  }

  .auth-form_button {
    @apply w-full my-1;
  }

  .auth-form_link {
    @apply text-center text-sm text-muted hover:text-foreground transition-colors;
  }

  .form-control-with-icon input {
    @apply pr-10;
  }

  .topbar {
    @apply h-14 fixed left-1/2 -translate-x-1/2 w-full max-w-[640px] mx-auto flex items-center justify-between px-4 rounded-b-xl bg-card cursor-default z-50;
  }

  /* Dudo */

  .dudo_container {
    @apply h-full w-full max-w-[640px] p-4 flex flex-col flex-1 items-center justify-center cursor-default select-none;
  }

  .dudo_content,
  .dudo_main {
    @apply flex gap-4;
  }

  .dudo_content {
    @apply flex-col flex-1 w-full;
  }

  .dudo_main {
    @apply flex flex-row;
  }

  .dudo_players {
    @apply max-w-[640px] flex flex-wrap items-center justify-center gap-3 p-2 rounded-xl bg-card/30;
  }

  .dudo_content .player-card {
    @apply h-20 w-28 relative flex flex-col items-center justify-center gap-1 bg-card rounded-md transition-colors;
  }

  .dudo_main_column {
    @apply flex flex-1 flex-col items-center justify-center p-4 rounded-xl bg-card transition-colors;
  }

  .dudo_main_bet {
    @apply min-h-24 w-full flex-1 flex flex-col justify-center gap-3;
  }

  .dudo_main_statistics {
    @apply h-10 mt-2 flex flex-col items-center justify-center;
  }

  .dudo_game-controls {
    @apply relative h-54 flex px-4 py-8 bg-card rounded-xl;
  }

  .dudo_game-controls_bet {
    @apply flex flex-1 flex-col items-center justify-between;
  }

  .dudo_game-controls_roll {
    @apply absolute inset-0 flex flex-1 flex-col items-center justify-center gap-8;
  }

  .dudo_dice_select {
    @apply flex items-center justify-center flex-wrap;
  }

  .dudo_dice_select--small-screen {
    @apply gap-3 w-32 ml-2;
  }

  .dudo_dice_select--normal-screen {
    @apply hidden;
  }

  .dudo_assistant {
    @apply fixed top-4.5 z-60;
  }

  @media (min-width: 640px) {
    .dudo_container {
      @apply p-0;
    }

    .dudo_dice_select--small-screen {
      @apply hidden;
    }

    .dudo_dice_select--normal-screen {
      @apply flex gap-3 w-28;
    }

    .dudo_game-controls {
      @apply h-30 w-[640px];
    }

    .dudo_game-controls_bet {
      @apply flex-row px-2 gap-6 items-center justify-between;
    }

    .dudo_game-controls_roll {
      @apply flex-row justify-evenly;
    }
  }

  @media (max-height: 900px) {
    .dudo_container {
      @apply pt-12;
    }
  }
}
